* {
    box-sizing: border-box;
}

/*CSS pour la div coordonnés du header*/
#div_top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*les li sont sur la meme ligne*/
#div_top li {
    display: inline-block;
}

#div_top a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
}

#div_top {
    background-color: rgb(30, 46, 71);
    opacity: 0.9;
    border-bottom: 5px solid darkblue;
    border-top: 5px solid darkblue;
    right: 0;
    left: 0;

}

/**CSS POUR MENU.PHP***************************************************************************************/
/*les li sont sur la meme ligne*/
nav > ul > li {
    display: inline-block;
}

#menu li:last-of-type {
    margin-right: 10px;
}

/*les liens du menu.php*/
#menu a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: -5px;
}

#menu a:hover {
    color: white;
    font-size: 25px;
}

/* la liste du menu*/
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*CSS POUR HEADER.PHP***********************************************************/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 46, 71);
    opacity: 0.9;
    border-bottom: 5px solid darkblue;
    right: 0;
    left: 0;

}

/**/
#div_logo a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 25px;
}

/**CSS GENERAL*********************************************************************/
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    background-color: rgb(30, 46, 71);
    opacity: 0.9;

}

/**CSS POUR LE FOOTER.PHP**************************************************************************************/
footer {
    background-color: rgb(30, 46, 71);
    opacity: 0.9;
    /*position: absolute;*/
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
}

#social i {
    /* margin-right: 8px;
     margin-left: 7px;*/
    width: 55px;
}

#social {
    text-align: center;
    font-size: 50px;
}

/**CSS POUR LE CONTACT.PHP************************************************************************************/
#main_contact {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div_formContact label {
    width: 25%;
    display: inline-block;
    margin-top: 5px;
    color: white;
    font-size: 20px;
}

#div_formContact {
    width: 50%;
    margin-right: -100px;
    margin-top: 50px;
}

#div_formContact textarea {
    margin-left: 70px;
}

#div_formContact input {
    /* font-family: 'Open Sans Condensed', sans-serif;*/
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    /*color: #fff;*/
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-bottom: 27px;

}

p.error {
    color: red;
    font-size: 15px;
    margin-top: -25px;
}

a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
}

#info {
    color: white;
}

/**CSS POUR INDEX.PHP**************************************************************************************************/

/*le div contenant les bateaux*/
#nosBateaux {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

img {
    height: 100%;
    width: 100%;
    display: block;
}


#bateauxMoteur {
    border: 5px blue solid;

}

#bateauxVoiles {
    border: 5px blue solid;

}

.nosBateaux {
    width: 30%;
    height: 250px;
    background-color: white;
    overflow: scroll;

}

/***********************le div contenant les produits****************************************/
#nosProduits {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;

}

#vestesSauvetage {
    border: 5px green solid;

}

#vetNautique {
    border: 5px red solid;

}

#accessoires {
    border: 5px yellow solid;

}

.nosProduits {
    width: 30%;
    height: 250px;
    background-color: white;
    overflow: scroll;


}

.h2produits {
    margin-right: 15px;
    color: white;

}

h3 {
    text-align: center;

}

#mainIndex {
    margin-top: 20px;
    margin-bottom: 20px;

}

/******************************* CSS pour la page catalogue******************************************/
.half {
    float: left;
    width: 50%;
    padding: 0 1em;
}

/* Acordeon styles*/
.tab {
    /* position: relative
     margin-bottom: 1px;
     width: 100%;
     color: #fff;*/
    overflow: scroll;
    display: inline-block;
}

#tab-one {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab-one {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a085;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}
.blue label {
    background: #2980b9;
}
.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #1abc9c;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
.blue .tab-content {
    background: #3498db;
}
.tab-content p {
    margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
    max-height: 10em;
}
/* Icon */

/*
label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
*/
input[type=checkbox] + label::after {
    content: "+";
}
input[type=radio] + label::after {
    content: "\25BC";
}
input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}

#main_catalogue {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

#div_catalogue {

    justify-content: space-between;

}

#h2Catalogue {
    display: inline-block;
    align-self: flex-start;
}

h1 {
    color: white;
}

.tab-content {
    overflow: scroll;
}

/*SYSTEME DE GRILLES********************************************************************************************/

/**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

/*largeur d'1 colonne*/
.col-1 {
    width: 8.33%;
}

/*largeur de 2 colonnes*/
.col-2 {
    width: 16.66%;
}

/*largeur de 3 colonnes*/
.col-3 {
    width: 25%;
}

/*largeur de 4 colonnes*/
.col-4 {
    width: 33.33%;
}

/*largeur de 5 colonnes*/
.col-5 {
    width: 41.66%;
}

/*largeur de 6 colonnes*/
.col-6 {
    width: 50%;
}

/*largeur de 7 colonnes*/
.col-7 {
    width: 58.33%;
}

/*largeur de 8 colonnes*/
.col-8 {
    width: 66.66%;
}

/*largeur de 9 colonnes*/
.col-9 {
    width: 75%;
}

/*largeur de 10 colonnes*/
.col-10 {
    width: 83.33%;
}

/*largeur de 11 colonnes*/
.col-11 {
    width: 91.66%;
}

/*largeur de 12 colonnes*/
.col-12 {
    width: 100%;
}

/**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
[class*="col-"] {
    float: left;
    padding: 0 15px;
}

/**
	chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"

**/
.row:after {
    content: "";
    clear: both;
    display: block;
}






















